body {
    background-color: #B7B4B4;
    margin: 0;
    padding: 0;
}

.FirstSection {
    background-image: url('../img/bgImg.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Висота секції рівна 100% висоти вікна браузера (viewport height) */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    top: 0;
    left: 0;
    right: 0;
}

.logo img {
    width: 90px;
    height: 90px;
}

.navbar img{
    width: 30px;
    height: 30px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff; 
    margin-right: 30px; 
    font-size: 25px;
    font-family: League Gothic;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.Main {
    color: white;
    padding: 10px;
    text-align: center;
}

.Main a{
    display: block;
    font-size: 96px;
    font-family: League Gothic;
}

.Main p{
    font-size: 25px;
    font-family: League Gothic;
}

.Main button {
    background: linear-gradient(to right, rgba(88, 129, 58, 0.8), rgba(28, 48, 13, 0.8)); 
    border-radius: 60px;
    padding: 5px 80px;
    color:#ffffff; 
    font-family: 'League Gothic', sans-serif; 
    font-size: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: none; 
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.Main button:hover {
    background: linear-gradient(to right, rgba(28, 48, 13, 1), rgba(88, 129, 58, 1)); /* Adjust the gradient on hover for a brighter effect */
    transform: scale(1.1); /* Increase scale on hover */
}

.categorysec {
    display: flex;
    justify-content: space-between; /* Add this line to separate the text and image containers */
}

.firstContainer {
    display: flex;
    flex-direction: column;
    margin-left: 190px;  
}

.firstContainer p {
    font-family: 'League Gothic', sans-serif;
    font-size: 60px;
    text-shadow:0 4px 6px #696969;
}

.firstContainer div {
    display: flex; /* Make the divs containing the text and image flex containers */
    align-items: center; /* Center the text and image vertically */
}

.firstContainer div a {
    margin-right: 20px; /* Add some space between the text and the image */
}

.firstContainer img {
    padding: 10px;
    width: 350px;
    height: 235px;
    transition: transform 0.3s ease-in-out;
}

.firstContainer img:hover {
    transform: scale(1.1); /* Increase scale on hover */
}

.imgContainer {
    width: 790px;
    height: 950px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B7B4B4;
}

.Contact img {
    width: 100%;
    margin-bottom: 40px;
}

.Contact h3 {
    font-family: 'League Gothic', sans-serif;
    font-size: 28px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.098);
    margin-bottom: 60px;
}

.Contact address {
    display: flex;
    flex-direction: row; 
    align-items: center; /* зміна на center */
    padding: 50px;
}

.Contact .addressa,
.Contact .contacty {

    margin: 0 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
}

.Contact address div img {
    width: 32px;
    height: 32px;
    margin: 0px 20px 0px 0px;
}

.Contact address div span {
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}



footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a3a2a2;  
    padding: 40px 0;
}

footer h2 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 10px;
}

footer span {
    color: #1F370D;
    font-size: 30px;
    font-weight: bold;
    margin-right: 245px;
}

footer img {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 20px;
}

footer a {
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}